In [34]:
import pandas as pd
import numpy as np
data=pd.read_csv('final1.csv',encoding="ISO-8859-1", error_bad_lines=False)

In [35]:
allUrlsData=pd.DataFrame(data)
allUrlsData=np.array(allUrlsData)
corpus=[d[0] for d in allUrlsData]
y=[d[3] for d in allUrlsData]

In [36]:
data.head()

                      url             ip      asn    y
0  diaryofagameaddict.com  208.76.86.134  AS53292  bad
1        espdesign.com.au  184.106.55.19     None  bad
2      iamagameaddict.com  208.76.86.134  AS53292  bad
3           kalantzis.net   208.83.210.7  AS20161  bad
4   slightlyoffcenter.net   208.76.80.77  AS53292  bad

In [37]:
print(len(y))
print(len(corpus))
temp1=data.loc[data['y']=='bad']
print(len(temp1))
temp2=data.loc[data['y']=='good']
print(len(temp2))
print(len(temp1)+len(temp2))

57572
57572
42767
14805
57572

In [51]:
data1=pd.read_csv('featureCorpus.csv',encoding="ISO-8859-1", error_bad_lines=False)

In [94]:
data1.head()
#data1=data1.sample(frac=1)

,y,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
9117,0,45,15,5,0,23,12,2,12,7,...,0,0,0,0,0,0,0,0,0,0
20110,0,49,34,6,0,8,12,20,17,6,...,0,0,0,0,0,0,0,0,0,0
9725,0,60,12,8,0,41,5,5,5,12,...,0,0,0,0,0,0,0,0,0,0
52349,1,36,28,0,0,1,24,3,24,0,...,0,0,0,0,0,0,0,0,0,0
38922,0,55,12,7,0,36,9,2,9,7,...,0,0,0,0,0,0,0,0,0,0

In [95]:
y=data1['y']
X=[]
allUrlsData=pd.DataFrame(data1)
allUrlsData=np.array(allUrlsData)
for ab in allUrlsData:
    X.append(ab[1:])

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [97]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [98]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [99]:

from sklearn.neural_network import MLPClassifier

In [110]:
mlp = MLPClassifier(hidden_layer_sizes=(58,25,2))

In [112]:
mlp.fit(X_train,y_train)
predictions = mlp.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

#'pakistanifacebookforever.com/getpassword.php/'
test=[52, 28, 15, 0, 17, 24, 3, 24, 11, 0, 24, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 45, 45, 0, 27, 27, 0, 7, 2, 4, 4, 7, 2, 1, 0.40540540540540543, 12.0, 0.21428571428571427, 1.0, 0.022222222222222223, 0.037037037037037035, 0.07142857142857142, 0.07142857142857142, 6.571428571428571, 13.5, 3.5, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
test1=[24, 17, 0, 0, 0, 13, 3, 13, 0, 0, 13, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 20, 20, 0, 16, 16, 0, 4, 2, 1, 1, 4, 0, 1, 0.3333333333333333, 6.0, 1.0, 1.0, 0.05, 0.0625, 1.0, 1.0, 5.25, 8.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
#'example_me.com/random/folder/path.html?a_b=234&b=456'
test2=[59, 14, 6, 13, 24, 10, 3, 7, 6, 5, 7, 0, 0, 2, 1, 0, 1, 2, 2, 0, 6, 0, 39, 39, 0, 12, 12, 0, 13, 3, 5, 5, 14, 3, 2, 0.22916666666666666, 5.0, 0.2631578947368421, 0.08333333333333333, 0.15384615384615385, 0.08333333333333333, 0.05, 0.3, 3.6153846153846154, 4.0, 4.0, 2.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
#'thelacunablog.com'
test3=[24, 17, 0, 0, 0, 13, 3, 13, 0, 0, 13, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 20, 20, 0, 16, 16, 0, 4, 2, 1, 1, 4, 0, 1, 0.3333333333333333, 6.0, 1.0, 1.0, 0.05, 0.0625, 1.0, 1.0, 5.25, 8.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
#https://venturebeat.com/2016/08/16/facebook-will-waive-fees-for-account-kit-sms-confirmation-messages-through-august-2018/
test4=[122, 15, 4, 0, 99, 11, 3, 11, 86, 0, 86, 12, 0, 0, 0, 0, 0, 1, 0, 0, 12, 0, 89, 89, 0, 14, 14, 0, 9, 2, 6, 6, 21, 5, 1, 0.38636363636363635, 6.0, 0.39436619718309857, 1.0, 0.1348314606741573, 0.07142857142857142, 0.17142857142857143, 0.014285714285714285, 12.666666666666666, 7.0, 15.666666666666666, 0.0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
#belgravesoundandlight.com/
test5=[33, 25, 0, 0, 1, 21, 3, 21, 0, 0, 21, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 28, 28, 0, 24, 24, 0, 5, 2, 2, 2, 5, 1, 1, 0.32, 8.0, 1.0, 1.0, 0.03571428571428571, 0.041666666666666664, 1.0, 1.0, 5.8, 12.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
#bioguide.congress.gov/scripts/bibdisplay.pl?index=P000003
test6=[64, 21, 7, 13, 22, 8, 11, 8, 10, 6, 10, 0, 0, 0, 0, 0, 1, 3, 1, 0, 6, 0, 48, 47, 1, 19, 19, 0, 11, 3, 4, 4, 10, 2, 1, 0.28, 8.0, 0.2222222222222222, 0.18181818181818182, 0.125, 0.05263157894736842, 0.05263157894736842, 0.3157894736842105, 4.909090909090909, 6.333333333333333, 4.75, 3.6666666666666665, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
X_predict=[test,test2,test3,test4,test5,test6]
X_predict = scaler.transform(X_predict)
y_Predict = mlp.predict(X_predict)
print(y_Predict)

[[10375   331]
 [  496  3191]]
             precision    recall  f1-score   support

          0       0.95      0.97      0.96     10706
          1       0.91      0.87      0.89      3687

avg / total       0.94      0.94      0.94     14393

[0 0 0 1 1 1]

## 'thelacunablog.com'
test1=[24, 17, 0, 0, 0, 13, 3, 13, 0, 0, 13, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 20, 20, 0, 16, 16, 0, 4, 2, 1, 1, 4, 0, 1, 0.3333333333333333, 6.0, 1.0, 1.0, 0.05, 0.0625, 1.0, 1.0, 5.25, 8.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
#'google.com/search=faizanahad'
test2=[35, 10, 17, 0, 18, 6, 3, 6, 10, 0, 10, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 29, 29, 0, 9, 9, 0, 6, 2, 3, 3, 6, 1, 1, 0.4583333333333333, 4.0, 0.6363636363636364, 1.0, 0.034482758620689655, 0.1111111111111111, 0.0625, 0.0625, 5.0, 4.5, 5.333333333333333, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

X_predict=[test2]
# X_predict = vectorizer.transform(X_predict)
y_Predict = mlp.predict(X_predict)
print(y_Predict)
print(len(test2))